

<h2>Category Management</h2>


<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>CreatedAt</th>
    <th>UpdatedAt</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories">
    <td>{{ category.id }}</td>
    <td>{{ category.name }}</td>
    <td>{{ category.description }}</td>
    <td>{{ category.createdAt}}</td>
    <td>{{ category.updatedAt}}</td>
    <td>
      <button (click)="editCategory(category.id)">Edit</button>
      <button (click)="deleteCategory(category.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<div class="button-container">
  <button class="new-button"(click)="addCategory()">New category</button>
</div>