
<nav>
  <ul>
    <li><a routerLink="/admin/users" routerLinkActive="active">Users</a></li>
    <li><a routerLink="/admin/categories" routerLinkActive="active">Categories</a></li>
    <li><a routerLink="/admin/subcategories" routerLinkActive="active">Subcategories</a></li>
    <li><a routerLink="/admin/brands" routerLinkActive="active">Brands</a></li>
    <li><a routerLink="/admin/products" routerLinkActive="active">Products</a></li>
    <li><a routerLink="/auth/logout">Logout</a></li>
  </ul>
</nav>

<div style="background-color: rgb(238, 233, 236);">
  <router-outlet></router-outlet>
</div>
